/* File input for the company logo */
#customLogoInput {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f9f9f9;
    max-width: 175px; /* Set max-width */
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add ellipsis */
    text-align: center; /* Center text */
    line-height: 24px; /* Adjust line height to center text vertically */
}
#customLogoInput > input {
    display: none;
}